{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["cn"]
}
