name: Lint
on:
  pull_request: ~
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare
      - name: Build workspace packages
        run: pnpm --filter eslint-plugin-dslint build
      - name: Lint
        run: pnpm lint
